{% extends "base.html" %}

{% load static %}

{% block title %}Товар {{ item_pk }}{% endblock title %}

{% block content %}
  <div class="container col-xxl-8">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="d-flex flex-column align-items-center gap-2">
                <img src="{{ item.main_image.image.url }}" class="d-block w-100 img" alt="..." />
                <a href="{% url 'download:download_image' item.main_image.image.url %}" class="btn btn-primary">Скачать</a>
              </div>
            </div>
            {% for galery_image in item.galery.all %}
              <div class="carousel-item">
                <div class="d-flex flex-column align-items-center gap-2">
                  <img src="{{ galery_image.image.url }}" class="d-block w-100 img" alt="..." />
                  <a href="{% url 'download:download_image' item.main_image.image.url %}" class="btn btn-primary">Скачать</a>
                </div>
              </div>
            {% endfor %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Предыдущий</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Следующий</span>
          </button>
        </div>
    </div>
      <div class="col-lg-6">
        <h3 class="display-5 fw-bold lh-1 mb-3">{{ item.name }}</h3>
        <p class="lead">Описание: {{ item.text|safe }}</p>
        <p class="lead">Категория: {{ item.category.name }}</p>
        <p class="lead">Тэги: 
          {% for tag in item.tags.all %}
            <span class="badge rounded-pill text-bg-primary">{{ tag.name }}</span>
          {% endfor %}
        </p>
        <div>
          {% if number %}
              <p class="lead">Средняя оценка товара: {{ average|floatformat:2 }}</p>
              <p class="lead">Количество оценок: {{ number }}</p>
          {% endif %}
          {% if request.user.is_authenticated %}
            {% if user_grade %}
              <p class="lead">Ваша оценка: {{ user_grade }}</p>
            {% endif %}
            <form method="post" enctype="multipart/form-data" class="mb-2">
              {% csrf_token %}
              {% include "includes/make_form.html" %}
              <button type="submit" class="btn btn-primary">Оценить</button>
            </form>
          {% endif %}
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a class="btn btn-primary btn-lg px-4 me-md-2">Купить</a>
          </div>
       </div>
      </div>
    </div>
  </div>
{% endblock content %}