{% extends "base.html" %}

{% block title %}Каталог товаров{% endblock title %}

{% block content %}
  <div class="container col-xxl-8">
    {% if items %}
      <h1 class="display-5 fw-bold lh-1">
        Каталог товаров
      </h1>
      <div class="row">
        <div class="col-12 col-md-6 col-xl-3">
          {% include "includes/sidebar.html" %}
        </div>
        <div class="col-36 col-md-18 col-xl-9">
          {% for item in items %}
            {% ifchanged item.category.name %}
              {% if not forloop.first %}
                </div>
              {% endif %}
                <h2>{{ item.category.name }}</h2>
                <div class="row row-cols-1 row-cols-sm-2 g-3 mb-4">
            {% endifchanged %}
            <div class="col">
              {% include "includes/item_card.html" %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% else %}
      {% include "includes/empty.html" %}
    {% endif %}
  </div>
{% endblock content %}