{% load static %}

<header class="p-3 text-dark ">
  <div class="container p-2 border-bottom">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
      <a href="{% url 'homepage' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="{% static 'img/basket3.svg' %}" width="40" height="32">
      </a>
      
      {% with request.resolver_match.view_name as view_name %}
      <ul class="nav nav-tabs col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'homepage' %}" class="nav-link text-dark {% if view_name == 'homepage' %}active{% endif %}">Главная страница</a></li>
        <li><a href="{% url 'item_list' %}" class="nav-link text-dark {% if view_name == 'item_list' %}active{% endif %}">Каталог товаров</a></li>
        <li><a href="{% url 'about' %}" class="nav-link text-dark {% if view_name == 'about' %}active{% endif %}">О нас</a></li>
      </ul>
      {% endwith %}

      <div class="text-end">
        <button type="button" class="btn btn-outline-dark me-2">Войти</button>
        <button type="button" class="btn btn-primary">Зарегистрироваться</button>
      </div>
  </div>
</header>

  
