{% load static %}
{% load i18n %}

<header class="p-3 text-dark ">
  <div class="container col-xxl-8 p-2 border-bottom">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
      <a href="{% url 'homepage:homepage' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="{% static 'img/basket3.svg' %}" width="40" height="32" alt="иконка" />
      </a>
      {% with request.resolver_match.app_name as app_name %}
        <ul class="nav nav-pills col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li>
            <a href="{% url 'catalog:item_list' %}" class="nav-link {% if app_name == 'catalog' %}active text-white{% else %}text-dark{% endif %}">{% translate "Каталог товаров" %}</a>
          </li>
          <li>
            <a href="{% url 'about:about' %}" class="nav-link {% if app_name == 'about' %}active text-white{% else %}text-dark{% endif %}">{% translate "О нас" %}</a>
          </li>
          {% if request.user.is_staff %}
            <li>
              <a href="{% url 'feedback:feedback' %}" class="nav-link {% if app_name == 'feedback' %}active text-white{% else %}text-dark{% endif %}">{% translate "Обратная связь" %}</a>
            </li>
          {% endif %}
        </ul>
      {% endwith %}
      <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="{% if request.user.profile.image %}{{ request.user.profile.get_image_50x50.url }}{% else %}{% static 'img/default_user.svg' %}{% endif %}" width="50" height="50" class="rounded-circle" />
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser">
          {% if request.user.is_authenticated %}
            <a class="dropdown-item" href="{% url 'users:user_profile' %}">{{ request.user.username }}</a>
            {% if request.user.is_staff %}
              <a href="/admin/" class="dropdown-item">{% translate "В админку" %}</a>
              <a href="{% url 'users:user_list' %}" class="dropdown-item">{% translate "Список пользователей" %}</a>
            {% endif %}
            <a class="dropdown-item" href="{% url 'feedback:user_feedbacks' user_id=request.user.id %}">{% translate "Мои фидбеки" %}</a>
            <li><hr class="dropdown-divider" /></li>
            <a class="dropdown-item" href="{% url 'users:password_reset' %}">{% translate "Восстановить пароль" %}</a>
            <a class="dropdown-item" href="{% url 'users:password_change' %}">{% translate "Сменить пароль" %}</a>
            <li><hr class="dropdown-divider" /></li>
            <a class="dropdown-item" href="{% url 'users:logout' %}">{% translate "Выйти" %}</a>
          {% else %}
            <a class="dropdown-item" href="{% url 'users:login' %}">{% translate "Войти" %}</a>
            <a class="dropdown-item" href="{% url 'users:signup' %}">{% translate "Зарегистрироваться" %}</a>
            <li><hr class="dropdown-divider" /></li>
            <a class="dropdown-item" href="{% url 'users:password_reset' %}">{% translate "Восстановить пароль" %}</a>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</header>
