<div class="card shadow-sm">
  <img class="bg-placeholder-img card-img-top" src="{{ item.main_image.get_image_300x300.url }}" alt="картинка" />
  <div class="card-body">
    <h5 class="card-title">{{ item.name }}</h5>
    <p class="card-text">{{ item.text|safe|truncatewords:10 }}</p>
    <p class="card-text text-muted">Категория: {{ item.category.name }}</p>
    <p class="card-text text-muted">Тэги: 
      {% for tag in item.tags.all %}
      <span class="badge rounded-pill text-bg-primary">{{ tag.name }}</span>
      {% endfor %}
    </p>
    <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Смотреть</a>
  </div>
</div>
