<div class="container mb-4">
  {% with request.resolver_match.view_name as view_name %}
    <h1 class="display-5 fw-bold lh-1 mb-3">
      {% if view_name == 'homepage:homepage' %}Главная страница{% elif view_name == 'catalog:item_list' %}Каталог товаров{% endif %}
    </h1>
  {% endwith %}
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for item in items %}
      <div class="col col-12 col-md-6 col-xl-3">
        <div class="card shadow-sm">
          <img class="bg-placeholder-img card-img-top" src="{{ item.main_image.image.url }}" width="300" height="300" alt="картинка" style="object-fit: contain;" />
          <div class="card-body">
            <h5 class="card-title">{{ item.name|safe }}</h5>
            <p class="card-text">{{ item.text|safe }}</p>
            <p class="card-text text-muted">Категория: {{ item.category.name }}</p>
            <p class="card-text text-muted">Тэги: 
              {% for tag in item.tags.all %}
              <span class="badge rounded-pill text-bg-primary">{{ tag.name }}</span>
              {% endfor %}
            </p>
            <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Смотреть</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>