{% extends "base.html" %}

{% block title %}Главная страница{% endblock title %}

{% block content %}
  <div class="container col-xxl-8 mb-4">
    <h1 class="display-5 fw-bold lh-1 mb-4">
      Главная страница
    </h1>
    {% for item in items %}
      {% if forloop.first %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-xl-3 g-3">
      {% endif %}
      <div class="col">
        {% include "includes/item_card.html" %}
      </div>
      {% if forloop.last %}
        </div>
      {% endif %}
    {% empty %}
      {% include "includes/empty.html" %}
    {% endfor %}
  </div>
{% endblock content %}