{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicons/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicons/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicons/favicon-16x16.png' %}" />
    <link rel="manifest" href="{% static 'img/favicons/site.webmanifest' %}" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, inital-scale=1" />
    <meta name="description" content="Крутой интернет-магазин для самых избирательных и требовательных людей. В нашем ассортименте есть всё, что вам нужно и не только." />
    <meta name="keywords" content="интернет магазин, онлайн магазин" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <title>{% block title %}Крутой магазин{% endblock title %}</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    {% include "includes/header.html" %}
    <main>
      {% if birthday_users %}
        <div class="container col-xxl-8 mb-2">
          <h1 class="display-7 fw-bold lh-1">Поздравляем с Днем рождения!</h1>
          <ul class="list-group">
            {% for user in birthday_users %}
              <li class="list-group-item">{{ user.email }}{% if user.first_name %} - {{ user.first_name }}{% endif %}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% for message in messages %}
        <div class="container xxl-8">
          <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            {{ message }}
          </div>
        </div>
      {% endfor %}
      {% block content %}Контента нет{% endblock content %}
    </main>
    {% include "includes/footer.html" %}
    <script>
      const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone; // e.g. "America/New_York"
      document.cookie = "django_timezone=" + timezone;
    </script>
  </body>
</html>