{% extends "base.html" %}

{% block title %}Оцененные товары{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row">
        кол-во оценок: {{count_user_grades}}
        средняя оценка: {{average}}
    </div>
    <div class="row">
        <div class="col-4">
            наибольшая последняя оценка: {{max_rating}}
            {% include "includes/item_card.html" with item=item_card_max_rating%}
        </div>
        <div class="col-4">
            наименьшая последняя оценка: {{min_rating}}
            {% include "includes/item_card.html" with item=item_card_min_rating%}
        </div>
    </div>
</div>


{% endblock content %}
